# ----------------------------------------------------------------------------------------------------------------------
# TRAVEL AGENCY COMMAND SIDE - MYSQL
# ----------------------------------------------------------------------------------------------------------------------
MYSQL_DB_HOST=mysql
MYSQL_DB_PORT=3307
MYSQL_DB_NAME=travels_write_db
MYSQL_DB_USER=user
MYSQL_DB_PASSWORD=changeme
MYSQL_DB_ROOT_PASSWORD=changeme-root

# ----------------------------------------------------------------------------------------------------------------------
# TRAVEL AGENCY COMMAND SIDE - APPLICATION
# ----------------------------------------------------------------------------------------------------------------------
COMMAND_SIDE_SERVICE_PORT=8080
COMMAND_SIDE_SERVICE_APPLICATION_NAME=travel-agency-command-side
